.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

content/quartz-site
content/.obsidian
content/_*/
content/_00_System/
content/_inbox/
content/_templates/
content/_99_Legacy_Archive/
content/_Trash/
content/01_指示/
content/05_Daily_Notes/
content/15_Ideas/
